/* .game-board {
    background: black;
    height: 80vh;
    width: 50vw;
}

#bird {
    height: 50px;
    width: 50px;
    background: white;
} */

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}